img
{
	height: 90%;
	width: 100%;
}
.idd
{
	border-bottom: 2px solid black;
}
.lll
{
	font-size: 25px;
}
.bg-black
{
	background-color: black;
}
.abc
{
	background-color: red;
}
.font-div
{
width: 30%;
}
.tab
{
	border: 1px solid black;
}
table,th,td
{
	border: 1px solid black;
	border-collapse: collapse;
}
table
{
	width: 1110px;
	background-color: gray;
	margin-bottom: 5px;
	color: white;
	text-align: center;
}
@media only screen and (min-width: 1198px)
{
	.font-div
	{
		padding: 47px 0px !important;
	}
}